<div fxLayout fxLayoutAlign="center" style="padding-top: 50px">
  <mat-card fxFlex="1 1 400px" class="mat-elevation-z12" fxLayout="column">
    <h2>Registro</h2>
    <form fxLayout="column" [formGroup]="group">
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input type="text" matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>
      <div fxLayout fxLayoutAlign="center">
        <button mat-flat-button color="primary" (click)="register()">
          Ingresar
        </button>
      </div>
      <div style="text-align: center; padding-top: 15px">
        <a routerLink="/">Login</a>&nbsp;&nbsp;<a routerLink="/confirm"
          >Confirm</a
        >
      </div>
    </form>
  </mat-card>
</div>
